<template>
  <div id="app">
<div class="row holder">
      <div class="col-md-2 text-white">
        <label class="text-white">Choose Map File ({{data.length}} items)</label>
        <input type="file" @input="readFile" class="fileInput">
      </div>
      <div class="col-md-2 text-white">
        <label class="text-white">Choose Labels File ({{labelsData.length}} items)</label>
        <input type="file" @input="readLabels" class="fileInput">
      </div>
      <div class="col-md-2">
        <label class="text-white">Blur value</label>
        <input type="number" min="1" max="30" class="slider form-control" id="myRange" v-model="blur">
      </div>
      <div class="col-md-2">
        <label class="text-white">Gradient Color Stop</label>
        <input type="number" min="0" max="1" class="slider form-control" step=".1" v-model="colorStop">
      </div>
      <div class="col-md-2">
        <label class="text-white">Labels Font Size</label>
        <input type="number" min="0" max="100" class="slider form-control" step="1" v-model="fontSize">

      </div>
       <div class="col-md-2">
    <label class="text-white">Toggle Blur</label>
        <input type="checkbox" class="slider form-control" v-model="showBlur">
   </div>
 </div>
    <canvas id="mapDraw" ref="canvas"></canvas>
  </div>
</template>

<script lang="ts" src="./App.component.ts"></script>

<style lang="scss">
html, body
{
  height: 100%;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background: black;
}

#canvas
{
  width: 100%;
  height: 100%;
  background: #111;
}
</style>
